:root {
  --color-text: #212529;
  --color-border: #c9184a;
  --color-btn: #ff4d6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
  color: var(--color-text);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  margin: 2rem auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-border);
}

.header__title {
  font-size: 3rem;
  color: var(--color-text);
}
.header__nav {
  min-height: 100%;

  display: flex;
  align-items: center;
}
.nav__btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: flex-end;
}

.container__gallery {
  display: grid;
  width: 90%;
  margin: 2rem auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(150px, 280px));
  justify-items: center;

  gap: 2rem;
}
.gallery_item {
  width: 100%;
  max-height: 300px;
  box-shadow: 0 3rem 10rem -3rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.5s;
}
.gallery_item:hover::after,
.is-active {
  transform: translateY(0);
}
.is-active {
  border: 2px solid var(--color-border);
  /* background-color: #00000077; */
}
.is-active::after,
.gallery_item::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #c337638e, #1d25718f);
  z-index: 2;
  position: absolute;
  transform: translateY(100%);
  transition: all 0.5s;
}

.is-active::after {
  transform: translateY(0%);
}
.image__container {
  height: 40%;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.item__content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item__title {
  font-size: 2.4rem;
}
.item__btn {
  display: block;
  width: 90%;
  margin: 2rem auto 1rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--color-btn);
  color: #fff;
  border: none;
  border-radius: 10rem;
  transition: all 0.3s;
  z-index: 10;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.349);
}
.item__btn:hover {
  background-color: var(--color-border);
}
.overlay {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(13px);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.432);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in;
  z-index: 100;
}
.slider {
  width: 90%;
  max-width: 80rem;
  background-color: #fff;
  border-radius: 1rem;
}
.slider__container {
  width: 100%;
  max-width: 80rem;
  height: 45rem;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.slide__picture {
  width: 100%;
  height: 30rem;
  overflow: hidden;
}
.slide__img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.slide__content {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.slide__title {
  font-size: 2.8rem;
  text-transform: capitalize;
  font-weight: bold;
}
.slider__btn {
  display: block;
  margin: 1rem auto 2rem;
  padding: 0.9rem 1.4rem;
  border-radius: 1.2rem;
  background-color: var(--color-btn);
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}
.slider__btn:hover,
.item__btn:hover {
  background-color: var(--color-border);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.5);
}
.hidden {
  transform: scale(0);
  opacity: 0;
}
.dots {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}
.dots__dot:last-child {
  margin: 0;
}
.dots__dot--active {
  background-color: #888;
  opacity: 1;
}
.slider__container-btns {
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider__btn-arr {
  z-index: 10;
  border: none;
  background: transparent;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 3.25rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .slide__picture {
    width: 100%;
    height: 45rem;
    overflow: hidden;
  }
  .dots {
    position: static;
  }
  .slider__btn-arr {
    margin-bottom: 0;
  }
}

@media (min-width: 968px) {
  .container__gallery {
    grid-template-columns: repeat(auto-fit, minmax(180px, 15rem));
    justify-content: space-between;
  }
  .item__title {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .item__btn {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .container__gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 23rem));
    justify-content: space-between;
  }
  .item__title {
    font-size: 1.8rem;
  }
  .item__btn {
    font-size: 1.2rem;
  }
}
